<div class="container">
{% extends 'layouts/base.html' %}


{% block content %}
  <h2>{{"Hello " + name | upper}}! Welcome to Home</h2>
  <h3>Course: {{ course }}</h3>
  <h4>Total Courses: {{courses | length}}</h4>
  {% if logged_in %}
    <p>{{10 * 2}}:: Logout</p> {# if | elif | else | endif #}
  {% else %}
    <p>{{10 * 5}}:: Please login.</p>
  {% endif %}
  
  <p><strong>Current Time:</strong> {{ now }}</p>
  <hr>
  {% for k,v in details.items() %}
    <p><strong>{{ k | title }}:</strong> {{ v }}</p>
  {% endfor %}
  <button id="myButton" class="btn btn-primary" onclick="showMsg()">Click Me</button>

  <!-- Below is jinja2 comment -->
  {# <p>{{10 * 5}}</p> #}
{% endblock %}
</div>