<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XYZ Investors</title>
  </head>
  <body>
    <h1>Sample Investment Company</h1>
    <!-- <form action="/" method="post">
      <input name="name" type="text" placeholder="Name:">
      <input name="email" type="email" placeholder="Email:">
      <input type="submit" value="Submit">
    </form> -->
    <ul>
      <li>Marks of Science is {{marks['Math']}}</li>
    </ul>
  </body>
</html>