<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Website</title>
    <link rel="stylesheet" href="static-website/css/styles.css">
    <script src="static-website/js/script.js" defer></script>
  </head>
  <body>
    <!-- Header Partial -->
    {% include 'static-website/partials/header.html' %}

    <h2>Welcome to Home Page</h2>

    {% include 'static-website/partials/footer.html' %}
  </body>
</html>